.ant-card-cover {
  height: 71.7%;
  min-height: 71.7%;
}

.ant-card-body {
  height: 16%;
}

.ant-card-actions {
  height: 12.3%;
  display: flex;
  align-items: center;
}

h1, h4, h6, p {
  color: white ;
  font-family: 'Roboto', sans-serif !important;
}
.ant-typography, .paragraph{
  color: white !important;
  font-size: 16px;
}