.ant-card-cover {
  display: flex;
  justify-content: center;
  height: 71.7%;
  min-height: 71.7%;
}

.ant-card-body {
  height: 16%;
}

.ant-card-actions {
  height: 12.3%;
  display: flex;
  align-items: center;
}

h1, h4, h6, p {
  color: white ;
  font-family: 'Roboto', sans-serif !important;
}
.ant-typography, .paragraph{
  color: white !important;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
